<div class="container">

  <div class="jumbotron">
    <h1>
      Question and Answer Message Board
    </h1>
  </div>
    <nav id="my-navbar" class="navbar navbar-default" >
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}
          Home
        {{/link-to}}</li>
        <li>{{#link-to 'about'}}
          About
        {{/link-to}}</li>
        <li>{{#link-to 'contact'}}
          Contact
        {{/link-to}}</li>
        <li>{{#link-to 'media'}}
          Social Media
        {{/link-to}}</li>
      </ul>
    </nav>
  <div>
    {{outlet}}
  </div>

  <br><br><br><br>

  <footer class="navbar-default">
    <div class="container-fluid">
      <h4>Check me out on Github</h4>
      <a href="https://github.com/jamesmilanhiggins" target="blank"><img class="github" src="https://www.iconfinder.com/data/icons/iconsimple-logotypes/512/github-256.png"/><br>James</a>
    </div>
  </footer>
</div>
