<h2 class="header">Social Media Page</h2>
<div class="row">
  <div class="col-md-4">
    <img src="https://www.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
  </div>
  <div class="col-md-4">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/2000px-Linkedin_icon.svg.png" alt="linkedin">
  </div>
  <div class="col-md-4">
    <img src="https://www.iconfinder.com/data/icons/social-flat-rounded-rects/512/facebook-256.png" alt="facebook">
  </div>
</div>
