<div class="question-tile">
<br>
  {{update-question question=model update="update"}}
  {{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}
  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
